<p id="notice"><%= notice %></p>

<h1>Listing Questions</h1>

<table>
  <thead>
    <tr>
      <th>Que</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <%= form_for @questions do |f| %>
  <p>
  <%= f.label = "que" %>
  <%= f.text_field ="que" %>
</p>
<p>
  <%= %>

</p>


  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.que %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
